@()

@main("图谱") {

    <style>
            .linetext {
                font-size: 12px ;
                font-family: SimSun;
                fill: #0000FF;
                fill-opacity: 1.0;
            }

    </style>
    <script>
            var nodes = [{name: "人"}, {name: "人"}, {name: "旅店"}];

            var edges = [
                {"source": 0, "target": 1, "relation": "夫妻"},
                {"source": 0, "target": 2, "relation": "住宿"}
            ];

            var width = 1200;
            var height = 600;

            var svg = d3.select("body")
                    .append("svg")
                    .attr("width", width)
                    .attr("height", height);

            var force = d3.layout.force()
                    .nodes(nodes)		//指定节点数组
                    .links(edges)		//指定连线数组
                    .size([width, height])	//指定范围
                    .linkDistance(150)	//指定连线长度
                    .charge(-400)//相互之间的作用力
                    .start();//开始作用

            //添加连线
            var svg_edges = svg.selectAll("line")
                    .data(edges)
                    .enter()
                    .append("line")
                    .style("stroke","#ccc")
                    .style("stroke-width",1);



            var color = d3.scale.category20();

            //添加节点
            var svg_nodes = svg.selectAll("circle")
                    .data(nodes)
                    .enter()
                    .append("circle")
                    .attr("r", 25)
                    .style("fill", function (d, i) {
                        return color(i);
                    })
                    .call(force.drag);	//使得节点能够拖动


            //添加描述节点的文字
            var svg_texts = svg.selectAll("text")
                    .data(nodes)
                    .enter()
                    .append("text")
                    .style("fill", "black")
                    .attr("dx",-14)
                    .attr("dy",6)
                    .text(function (d) {
                        return d.name;
                    });


            force.on("tick", function(){

                //更新连接线的位置
                svg_edges.attr("x1",function(d){ return d.source.x; });
                svg_edges.attr("y1",function(d){ return d.source.y; });
                svg_edges.attr("x2",function(d){ return d.target.x; });
                svg_edges.attr("y2",function(d){ return d.target.y; });

                //更新连接线上文字的位置

                //更新节点坐标
                svg_nodes.attr("cx",function(d){ return d.x; })
                        .attr("cy",function(d){ return d.y; });

                //更新文字坐标
                svg_texts.attr("x", function(d){ return d.x; })
                        .attr("y", function(d){ return d.y; });
            });
    </script>
}